* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #f1f2f4; */
}
body {
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0.5vw 1vw;
  position: fixed;
}
.logobox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  height: 100%;
  background-image: url("logo.png");
  background-size: cover;

  /* background-color: black; */
}
.searchbar {
  width: 50%;
  background-color: #f0f5ff;
  height: 70%;
  display: flex;
}
#searchbutton {
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  width: auto;
  border: none;
  background-color: transparent;
}
#searchbox {
  border: none;
  border-color: none;
  background-color: transparent;
  height: 100%;
  width: 94%;
  outline: none;
  font-size: 1.3rem;
  font-weight: 100;
}
.phoneicon {
  display: none;
}
.login {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.6vw;
  padding: 3.5vh 1.5vw;
  border-radius: 1vw;
}
.login:hover {
  background-color: #2a55e5;
}
.login:hover #arrow {
  animation: arrowrotation-on 1s forwards;
}
@keyframes arrowrotation-on {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.cart {
  display: flex;
  gap: 0.5vw;
}
.becomeaseller {
  display: flex;
  gap: 0.5vw;
}
main {
  height: calc(100% - 50px);
  width: 100%;
  background-color: #f1f2f4;
  padding: 1%;
  box-sizing: border-box;
  padding-top: 5.5%;
}
.divone {
  height: 20vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1%;
  padding-top: 1%;
  box-sizing: border-box;
}
.divone p {
  display: flex;
  flex-wrap: wrap;
  width: 5vw;
  text-align: center;
  justify-content: center;
}
.divonebox1 {
  height: 100%;
  width: calc(10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox1 {
  height: 60%;
  width: 40%;
  background-image: url("imgbox1.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
.textbox1 {
  font-size: 0.9rem;
  font-weight: 550;
  padding-top: 1.5vh;
}
.divonebox2 {
  height: 100%;
  width: calc(10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox2 {
  height: 60%;
  width: 40%;
  background-image: url("imgbox2.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
.textbox2 {
  font-size: 0.9rem;
  font-weight: 550;
  padding-top: 1.5vh;
}
.divonebox3 {
  height: 100%;
  width: calc(10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox3 {
  height: 60%;
  width: 40%;
  background-image: url("imgbox3.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.textbox3 {
  font-size: 0.9rem;
  font-weight: 550;
  padding-top: 1.5vh;
}
.divonebox4 {
  height: 100%;
  width: calc(10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox4 {
  height: 60%;
  width: 60%;
  background-image: url("imgbox4.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.textbox4 {
  font-size: 0.9rem;
  font-weight: 550;
  padding-top: 1.5vh;
}
.divonebox5 {
  height: 100%;
  width: calc(10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox5 {
  height: 100%;
  width: 50%;
  background-image: url("imgbox5.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.textbox5 {
  font-size: 0.9rem;
  font-weight: 550;
  padding-top: 1.5vh;
}
.divonebox6 {
  height: 100%;
  width: calc(10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox6 {
  height: 60%;
  width: 40%;
  background-image: url("imgbox6.webp");
  background-size: contain;
  background-repeat: no-repeat;
}
.textbox6 {
  font-size: 0.9rem;
  font-weight: 550;
  padding-top: 1.5vh;
}
.divonebox7 {
  height: 100%;
  width: calc(10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox7 {
  height: 60%;
  width: 60%;
  background-image: url("imgbox7.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.textbox7 {
  font-size: 0.9rem;
  font-weight: 550;
  padding-top: 1.5vh;
}
.divonebox8 {
  height: 100%;
  width: calc(10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox8 {
  height: 60%;
  width: 40%;
  background-image: url("imgbox8.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.textbox8 {
  font-size: 0.9rem;
  font-weight: 550;
  flex-wrap: wrap;
  padding-top: 1.5vh;
}
.divonebox9 {
  height: 100%;
  width: calc(10vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgbox9 {
  height: 70%;
  width: 55%;
  background-image: url("imgbox9.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.textbox9 {
  font-size: 0.9rem;
  font-weight: 550;
  padding-top: 1.5vh;
}
.divtwo {
  height: 38vh;
  width: 100%;
  background-image: url("mainbox1.webp");
  background-size: cover;
  /* background-repeat: no-repeat; */
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.divtwobutton1 {
  border: none;
  background-color: white;
  padding: 7vh 0.5vw;
  border-top-right-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
  font-size: 1.1rem;
}
.divtwobutton2 {
  border: none;
  background-color: white;
  padding: 7vh 0.5vw;
  border-top-left-radius: 0.5vw;
  border-bottom-left-radius: 0.5vw;
  font-size: 1.1rem;
}
.divthree {
  display: flex;
  height: 30vh;
  width: 100%;
  background-color: white;
  margin-top: 1%;
  justify-content: space-evenly;
  align-items: center;
}
.divthreebox1 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.imgdivthreebox1 {
  width: 60%;
  height: 60%;
  background-image: url(1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.textdivthreebox1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
  line-height: 150%;
}
.divthreebox2 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.imgdivthreebox2 {
  width: 60%;
  height: 60%;
  background-image: url(2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.textdivthreebox2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
  line-height: 150%;
}
.divthreebox3 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.imgdivthreebox3 {
  width: 60%;
  height: 60%;
  background-image: url(3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.textdivthreebox3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
  line-height: 150%;
}
.divthreebox4 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.imgdivthreebox4 {
  width: 60%;
  height: 60%;
  background-image: url(4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.textdivthreebox4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
  line-height: 150%;
}
.divthreebox5 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.imgdivthreebox5 {
  width: 60%;
  height: 60%;
  background-image: url(5.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.textdivthreebox5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
  line-height: 150%;
}
.divthreebox6 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.imgdivthreebox6 {
  width: 60%;
  height: 60%;
  background-image: url(6.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.textdivthreebox6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
  line-height: 150%;
}
.divthreebox7 {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.imgdivthreebox7 {
  width: 60%;
  height: 60%;
  background-image: url(7.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.textdivthreebox7 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10%;
  line-height: 150%;
}
.imgdivfourbox1 {
  width: 60%;
  height: 60%;
  background-image: url(8.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfourbox2 {
  width: 60%;
  height: 60%;
  background-image: url(9.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfourbox3 {
  width: 60%;
  height: 60%;
  background-image: url(10.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfourbox4 {
  width: 60%;
  height: 60%;
  background-image: url(11.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfourbox5 {
  width: 60%;
  height: 60%;
  background-image: url(12.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfourbox6 {
  width: 60%;
  height: 60%;
  background-image: url(13.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfourbox7 {
  width: 60%;
  height: 60%;
  background-image: url(14.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfivebox1 {
  width: 60%;
  height: 60%;
  background-image: url(15.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfivebox2 {
  width: 60%;
  height: 60%;
  background-image: url(16.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfivebox3 {
  width: 60%;
  height: 60%;
  background-image: url(18.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfivebox4 {
  width: 60%;
  height: 60%;
  background-image: url(19.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfivebox5 {
  width: 60%;
  height: 60%;
  background-image: url(20.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfivebox6 {
  width: 60%;
  height: 60%;
  background-image: url(21.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.imgdivfivebox7 {
  width: 60%;
  height: 60%;
  background-image: url(22.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
